@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.text-1{
    margin-top: 100px;
    width: 45vw;
}
.container{
    margin-left: 180px;
    width: 82vw;
}
.section-1{
    display: flex;
    animation: fade-up 1s;
    margin: auto;
    width: 83vw;

}
.section-1 h1{
    font-size: 63px;
    font-weight: bolder;
    color: #122331dc;
}
.button{
    position: absolute;
    margin-top: 195px;
    margin-left: 50em;
}
input{
    border: none;
    border-radius: 80px;
    padding: 10px 8px 10px 8px;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}
.btn-1{
    width: 10vw;
    color: white;
    background: #4D8BA1;
    margin-right: 60px;
    border: #4D8BA1 solid 2px;

}

.btn-2{
    width: 10vw;
    background-color: white;
    color: #4D8BA1;
    border: #4D8BA1 solid 2px;

}

.btn-1:hover{
    background: white;
    color: #4D8BA1;
}

.btn-2:hover{
    background: #4D8BA1;
    color:  white;
}
.left-side{
    display: block;
}

.left-side .image-1{
    width: 490px;
    height: 35vh;
    border-radius: 30px;
    background: linear-gradient(rgba(18, 35, 49, 0.581), rgba(18, 35, 49, 0.386)), url(../images/banner-img-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 30px;
}
.left-side p{
    width: 30vw;
    color: #122331d8;
}
.section-2{
    display: flex;
    margin-top: 60px;
    animation: fade-down 1s;
    margin: auto;
    width: 83vw;
}

.right-side .image-2{
    position: absolute;
    width: 640px;
    height: 45vh;
    border-radius: 30px;
    background: linear-gradient(rgba(18, 35, 49, 0.581), rgba(18, 35, 49, 0.382)), url(../images/banner-img-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 100px;
    margin-top: 30px;
}

.container-1{
    margin-top: 100px;
}
.container-1 .why h1{
    text-align: center;
    color: #122331;
}
.join-us{
    margin-top: 60px;
    margin-left: 280px;
}
.join-us .card{
    width: 24vw;
    margin-bottom: 50px;
}

.join-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.join-us h3{
    color: #122331;
    margin-bottom: 5px;
}
.join-us i, .join-us p{
    color:#4D8BA1;
}
.join-us i{
    font-size: 30px;
    margin-bottom: 10px;
}

/* Beginning of the Arrow */

  
.wrapper {
    width: 100%;
    height: 10%;
  }
  
  .arrow {
    width: 38px;
    height: 14px;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 1;
    transition: ease 1s;
    animation: bouncey 1.6s linear infinite;

  
    .line {
      width: 24px;
      height: 4px;
      background:#122331;
      position: absolute;
  
      &.line1 {
        left: 0;
        top: 0;
        transform: rotate(45deg);
        border-radius: 5px 0 0 5px;
      }
  
      &.line2 {
        left: 14px;
        top: 0;
        transform: rotate(-45deg);
        border-radius: 0 5px 5px 0;
      }
    }
  
    &:hover {
      opacity: 1;
    }
  }
  
  @keyframes bouncey {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
/* End of Arrow */


@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9)
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1)
    }
}

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9)
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1)
    }
}

@media screen and (max-width: 1280px){
    .container{
        margin-left: 120px;
        width: 82vw;
    }
    .section-1{
        display: flex;
        animation: fade-up 1s;
        margin: auto;
        width: 83vw;
    }
    .section-1 h1{
        font-size: 50px;
        font-weight: bolder;
        color: #122331;
    }
    .button{
        position: absolute;
        margin-top: 160px;
        margin-left: 40em;
    }
    input{
        border: none;
        border-radius: 80px;
        padding: 15px 20px 15px 20px;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    }
    .btn-1{
        width: 12vw;
        color: white;
        background: #4D8BA1;
        margin-right: 50px;
        border: #4D8BA1 solid 2px;
    
    }
    
    .btn-2{
        width: 12vw;
        background-color: white;
        color: #4D8BA1;
        border: #4D8BA1 solid 2px;
    
    }
    .left-side .image-1{
        width: 470px;
        height: 35vh;
        border-radius: 30px;
        
        margin-bottom: 50px;
    }
    .right-side .image-2{
        position: absolute;
        width: 500px;
        height: 45vh;
        border-radius: 30px;
        margin-left: 40px;
    }
    .left-side p{
        width: 40vw;
        margin-bottom: 20px;
    }
    
}

@media screen and (max-width: 1024px){
    .container{
        margin-left: 110px;
        width: 82vw;
    }
    .section-1 h1{
        font-size: 43px;
        font-weight: bolder;
        color: #122331;
    }
    .button{
        position: absolute;
        margin-top: 140px;
        margin-left: 30em;
    }
    input{
        border: none;
        border-radius: 80px;
        padding: 15px 20px 15px 20px;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    }
    .btn-1{
        width: 13vw;
        color: white;
        background: #4D8BA1;
        margin-right: 30px;
        padding: 15px 20px 15px 20px;
        border: #4D8BA1 solid 2px;
    
    }
    
    .btn-2{
        width: 13vw;
        background-color: white;
        color: #4D8BA1;
        border: #4D8BA1 solid 2px;
    
    }
    .left-side .image-1{
        width: 320px;
        height: 35vh;
        border-radius: 30px;
        
        margin-bottom: 50px;
    }
    .right-side .image-2{
        position: absolute;
        width: 440px;
        height: 45vh;
        border-radius: 30px;
        margin-left: 50px;
    }
    .left-side p{
        width: 30vw;
        margin-bottom: 40px;
    }
    .section-1 h1{
        font-size: 40px;
        font-weight: bolder;
        color: #122331;
    }
    


}
@media screen and (max-width: 970px){
    .container{
        margin-left: 30px;
        width: 82vw;
    }
    .text-1{
        margin-top: 80px;
        margin-left: 50px;
        width: 80vw;
    }
    .section-2{
   

        width: 40vw;
        display: flex;
        margin-left: 0px;
        margin-top: 60px;
        animation: fade-down 1s;

    }
    .section-1{
        width: 80vw;
        display: block;
        animation: fade-up 1s;

    }
    
    .section-1 h1{
        font-size: 43px;
        font-weight: bolder;
        color: #122331;
    }
    .button{
        position: relative;
        margin-top: 24px;
        margin-left: 45px;
    }
    input{
        border: none;
        border-radius: 80px;
        padding: 15px 20px 15px 20px;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    }
    .btn-1{
        width: 25vw;
        color: white;
        background: #4D8BA1;
        margin-right: 30px;
        padding: 15px 20px 15px 20px;
        border: #4D8BA1 solid 2px;
    
    }
    
    .btn-2{
        width: 25vw;
        background-color: white;
        color: #4D8BA1;
        border: #4D8BA1 solid 2px;
    
    }
    .left-side .image-1{
        width: 320px;
        height: 35vh;
        border-radius: 30px;
        
        margin-bottom: 50px;
    }
    .right-side .image-2{
        position: absolute;
        width: 360px;
        height: 50vh;
        border-radius: 30px;
        margin-left:40px;
      
    }
    .left-side p{
        width: 40vw;
    }
    .section-1 h1{
        font-size: 40px;
        font-weight: bolder;
        color: #122331;
    }

}
@media screen and (max-width: 768px){
    .text-1{
        margin-top: 80px;
        margin-left: 50px;
        width: 80vw;
    }
    .section-2{
   

        width: 40vw;
        display: flex;
        margin-left: 30px;
        margin-top: 60px;
        animation: fade-down 1s;

    }
    .section-1{
        width: 80vw;
        display: block;
        animation: fade-up 1s;

    }
    
    .section-1 h1{
        font-size: 43px;
        font-weight: bolder;
        color: #122331;
    }
    .button{
        position: relative;
        margin-top: 24px;
        margin-left: 40px;
    }
    input{
        border: none;
        border-radius: 80px;
        padding: 15px 20px 15px 20px;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    }
    .btn-1{
        width: 25vw;
        color: white;
        background: #122331;
        margin-right: 30px;
        padding: 15px 20px 15px 20px;
        border: #122331 solid 2px;
    
    }
    
    .btn-2{
        width: 25vw;
        background-color: white;
        color: #122331;
        border: #122331 solid 2px;
    
    }
    .left-side .image-1{
        width: 320px;
        height: 35vh;
        border-radius: 30px;
        
        margin-bottom: 50px;
    }
    .right-side .image-2{
        position: absolute;
        width: 360px;
        height: 50vh;
        border-radius: 30px;
        right:20;
      
    }
    .left-side p{
        width: 40vw;
    }
    .section-1 h1{
        font-size: 40px;
        font-weight: bolder;
        color: #122331;
    }

}
@media screen and (max-width: 700px){

    .text-1{
        margin-top: 80px;
        margin-left: 50px;
        width: 80vw;
    }
    .section-2{
   
        display: block;
        margin-left: 30px;
        margin-top: 30px;
        animation: fade-down 1s;
    }
    .section-1{
        display: block;
        animation: fade-up 1s;

    }
    
    .section-1 h1{
        font-size: 43px;
        font-weight: bolder;
        color: #122331;
    }
    .button{
        width: 340px;
        position: relative;
        margin-top: 24px;
        margin-left: 40px;
    }
    input{
        border: none;
        border-radius: 80px;
        padding: 15px 20px 15px 20px;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    }
    .btn-1{
        width: 35vw;
        color: white;
        background: #122331;
        margin-right: 30px;
        padding: 15px 20px 15px 20px;
        border: #122331 solid 2px;
    
    }
    
    .btn-2{
        width: 35vw;
        background-color: white;
        color: #122331;
        border: #122331 solid 2px;
    
    }
    .left-side .image-1{
        width: 320px;
        height: 35vh;
        border-radius: 30px;
        
        margin-bottom: 50px;
    }
    .right-side .image-2{
        position: absolute;
        width: 440px;
        height: 0vh;
        border-radius: 30px;
        right: 100;
        visibility: hidden;
    }
    .left-side p{
        width: 90vw;
    }
    .section-1 h1{
        font-size: 40px;
        font-weight: bolder;
        color: #122331;
    }
}