@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container{
    display: flex;
}

.banner-login{
    width: 550px;
    height: 72vh;
    background: linear-gradient(rgba(18, 35, 49, 0.581), rgba(18, 35, 49, 0.382)), url(../images/sign-up-login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 65px;
}

.right-content{
    width: 50vw;
    margin-left: 40px;
    margin-top: 50px;

}
.header-wrapper{
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.header-wrapper h1{
    font-size: 40px;
}

.wrapper{
    display: flex;
    margin-left: 100px;

}

a{
    text-decoration: none;
}

.heading{
    
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}

.inner-container{
    margin-top: 30px;
    margin-left: 138px;
}
form{
    margin-left: 80px;
}
.error-message{
    margin-bottom: 30px;
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-wrap: pretty;
    width: 350px;
}
input{
    margin-bottom: 10px;
}

.input_area{
    width: 370px;
    border: none;
    border:#122331 solid 2px ;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.input_area:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.forgot-section{
    display: flex;
    margin-left: 10px;
    width: 370px;
}
.forgot-section .forgot{
    right: 100px;
    margin-left: 230px;
}

.checkbox-container{
    display: inline-flex;
    margin-right: 25px;
}
.checkbox-container p{
    margin-top: 1px;
}
.forgot-section input p{
    font-size: 14px;
}

.forgot-section a{
    font-size: 14px;
    text-decoration: none;
    color: gray;
}

.btn-wrapper{
    display: block;
    width: 350px;
}
.submit_btn{
    border: none;
    width: 230px;
    border-radius: 45px;
    margin-top: 10px;
    margin-left: 65px;
    padding: 10px 15px 10px 15px;
    background: #122331;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

p{
    font-size: 14px;
    color: gray;
}

.create{
    display: flex;
    margin-left: 70px;
    margin-bottom: 5px;
    
}
.create a{
    font-size: 14px;
    text-decoration: none;
    color: #122331a8;
    
}
.create p{
    font-size: 14px;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 1px;
}
.select-role{
    margin-left: 35px;
    margin-top: 10px;
}


@media screen and (max-width: 1280px){
    .container{
        display: flex;
    }
    
    .banner-login{
        width: 450px;
        height: 82vh;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/login-sign-image.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        margin-left: 100px;
        margin-top: 65px;
    }
    
    .right-content{
        width: 50vw;
        margin-left: 40px;
        margin-top: 50px;
    
    }
    .header-wrapper{
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    .header-wrapper h1{
        font-size: 40px;
    }
   
    
    .wrapper{
        display: flex;
        margin-left: 100px;
    
    }
    
    a{
        text-decoration: none;
    }
    
    .heading{
        
        font-weight: bolder;
        font-size: 25px;
        text-align: center;
        padding-top: 30px;
    }
    
    .inner-container{
        margin-top: 30px;
        margin-left: 128px;
    }
    
    .error-message{
        margin-bottom: 30px;
        color: red;
        font-size: 14px;
        margin-top: 5px;
        text-wrap: pretty;
        width: 350px;
    }
    input{
        margin-bottom: 10px;
    }
    
    .input_area{
        width: 370px;
        border: none;
        border:#122331 solid 2px ;
        border-radius: 5px;
        padding: 10px;
        transition: all 0.2s ease-in-out;
    }
    
    .input_area:focus{
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .forgot-section{
        display: flex;
        margin-left: 10px;
        width: 370px;
    }
    .forgot-section .forgot{
        right: 100px;
        margin-left: 240px;
    }
    
    .checkbox-container{
        display: inline-flex;
        margin-right: 25px;
    }
    .checkbox-container p{
        margin-top: 1px;
    }
    .forgot-section input p{
        font-size: 14px;
    }
    
    .forgot-section a{
        font-size: 14px;
        text-decoration: none;
        color: gray;
    }
    
    .btn-wrapper{
        display: block;
        width: 350px;
    }
    .submit_btn{
        border: none;
        width: 360px;
        border-radius: 45px;
        margin-top: 10px;
        padding: 10px 15px 10px 15px;
        background: #122331;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
    
    p{
        font-size: 14px;
        color: gray;
    }
    
    .create{
        display: flex;
        margin-left: 75px;
        margin-bottom: 5px;
        
    }
    .create a{
        font-size: 14px;
        text-decoration: none;
        color: #12233196;
        
    }
    
    .create p{
        font-size: 14px;
        margin-top: 0;
        margin-right: 10px;
        margin-left: 1px;
    }
    
}
.error {
    color: red;
    font-size: 0.9em;
}


/* @media screen and (max-width: 1280px){
    .container{
        margin-left:31em;
    }
    .back-home{
        margin-top: 120px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 1024px){

    .container{
        margin-left:21em;
    }
    .back-home{
        margin-top: 120px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 970px){
    .container{
        margin-left:14em;
    }
    .back-home{
        margin-top: 120px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 768px){
    .container{
        margin-left:14em;
    }

    .back-home{
        margin-top: 120px;
        margin-left: 1em;
    }
}

@media screen and (max-width: 700px) {
    .container{
        margin-left:35px;
    }

    .back-home{
        margin-top: 120px;
        margin-left: 1em;
    }
} */